@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Header */

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: white;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
    font-size: 15px;
}

.logo{
    width: 100px;
    margin: 0 0 0 40px;
}

.header ul{
    list-style: none;
    display: flex;
}

.header ul li{
    padding: 20px;
}

.Link {
    display: flex;
}

.liens li:hover{
    color: #FF3737;
    transition: .3s;
}

.connect{
    margin: 0 40px 0 50px;
}

.connect li{
    padding: 20px 30px;
    margin: 0px 1px 0 5px;
    color: white;
    background-color: #FF3737;
    border-radius: 10px;
    font-weight: 500;
}

.connect li:hover{
    cursor: pointer;
}

/* Footer */

.footer{
    width: 100%;
    padding: 100px 55px;
    background-color: #F6F7FC;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: poppins;
    font-size: 15px;
    flex-wrap: wrap;
}

.links, .services{
    height: 45vh;
}

.footer h2{
    font-weight: 500;
    padding: 5px 0;
    margin: 0 0 30px 0;
    border-bottom: 2px solid #FF3737;
}

.footer ul{
    list-style: none;
} 

.footer li{
    padding: 3px 0;
    transition: .5s;
}

.footer li:hover{
    color: #FF3737;
    transform: translateX(10px);
    transition: .5s;
}

.footer span{
    color: #FF3737;
    margin: 0 3px 0 0;
    font-size: 22px;
    font-weight: 600;
}


.newsletter{
    padding: 0 20px;
}

.networks{
    padding: 15px 0;
    font-weight: 600;
}

.networks span {
    display: inline-block;
    width: 1.8px;
    height: 15px;
    margin: 0 30px;
    background-color: rgb(185, 183, 183);
}

.band{
    width: 100%;
    height: 24vh;
    background: linear-gradient(to right, #FF3737, #FD8727, #FBC51A);
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family: poppins;
    font-size: 15px;
    padding: 20px 15px;
}

.band p{
    margin: 0px 40px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.paiement{
    padding: 0 20px 15px 20px;
}

.input{
    border: 2px solid white;
    outline: none;
    padding: 25px 20px;
    font-size: 17px;
    margin: 30px 0;
    border-radius: 5px 0 0 5px;
    width: 70%;
    transition: .2s;
}

.input:focus{
    border: 1px solid #FF3737;
    transition: .2s;
}

.subscribe{
    border: 2px solid #FF3737;
    font-size: 17px;
    margin: 30px 0;
    border-radius: 0 5px 5px 0;
    padding: 25px 20px;
    width: 30%;
    background-color: #FF3737;
    color: white ;
    font-weight: 600;
}

/* Responsive */

@media (max-width: 1200px) {
    .links, .services{
        width: 500px;
        padding: 0 150px 0 0;
        height: 400px;
    }

    .newsletter{
        width: 915px;
        padding: 0;
    }
}


@media (max-width: 1024px) {
    .footer{
        padding: 100px 45px;
        justify-content: flex-start;
        font-size: 15px;
    }

    .links, .services{
        width: 400px;
        padding: 0 100px 0 0;
        height: 400px;
    }

    .newsletter{
        width: 715px;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .footer{
        padding: 75px 35px;
        justify-content: flex-start;
        font-size: 14px;
    }

    .links, .services{
        width: 400px;
        padding: 0 100px 0 0;
        height: 300px;
    }

    .newsletter{
        padding: 0px;
    }
}
  
@media (max-width: 480px) {
    .footer{
        padding: 50px 25px;
        justify-content: flex-start;
        font-size: 13px;
    }

    .links, .services{
        width: 300px;
    }

    .newsletter{
        padding: 0px;
    }

    .input{
        padding: 25px 15px;
        font-size: 15px;
        border-radius: 5px;
        width: 100%;
        margin: 30px 0 0 0;
    }

    .subscribe{
        font-size: 15px;
        margin: 10px 0 10px 0; 
        border-radius: 5px;
        padding: 25px 15px;
        width: 50%;
    }

    .networks{
        padding: 10px 0;
        font-weight: 600;
    }

    .networks span {
        margin: 0 15px;
    }

    .band{
        height: 220px;
        justify-content: flex-start;
        font-size: 15px;
        padding: 15px 10px;
    }

    .band p{
        margin: 0px;
    }

    .logo{
        width: 80px;
        margin: 0 0 0 10px;
    }

    .paiement{
        padding: 0;
        width: 300px;
    }
}